study/*
!study/static_files/
study/static_files/mf_dic
src/5-3D_deepLearningModel/lightning_logs/
src/5-3D_deepLearningModel/models/
src/5-3D_deepLearningModel/*ckpt
!study/stats/
study/stats/*csv
*.tar.gz
env_*/
.config_envs/license_freesurfer.txt