tensorboard
pandas
matplotlib
seaborn
numpy
scipy
ipykernel
ipython
ipywidgets
pytorch-ignite
scikit-learn
feature_engine
statsmodels
mlxtend
tqdm
opencv-python
jupyterlab
notebook
voila
nibabel
nilearn
pip
monai
lightning
torchmetrics
ants
torchio
ITMO-FS
antspyx
