torch
torchvision
torchaudio
tensorboard
pandas
matplotlib
seaborn
numpy
scipy
ipykernel
ipython
ipywidgets
pytorch-ignite
scikit-learn
feature_engine
statsmodels
mlxtend
jupyterlab
notebook
voila
nibabel
nilearn
pip
monai
lightning
torchmetrics
ants
torchio
ITMO-FS
antspyx
dipy
scikit-image
unravel-python
bruker2nifti
fury